# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Moh\Documents\FHTW\Slides\WS21-DSInf-MDS1\laufendeLV\EH2-DataStorage\example-scripts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
